<div class="container shadow border">

  <h1 style="text-align: center;">{{title | uppercase}}</h1>

  <ul class="nav">
    <li class="nav-item" routerLinkActive="bg-primary" >
      <a class="nav-link active" aria-current="page">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="temas">Lista de Temas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="lista_completa">Lista completa</a>
    </li>
  </ul>

</div>
